In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [4]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4496)

Look at the shape of each DataFrame - how many rows? How many columns?

In [5]:
gdp_df.shape, internet_df.shape

((6870, 4), (4496, 4))

Take a look at the datatypes for the columns in each DataFrame.

In [6]:
gdp_df.dtypes, internet_df.dtypes

(Country or Area     object
 Year                object
 Value              float64
 Value Footnotes    float64
 dtype: object,
 Country or Area     object
 Year                object
 Value              float64
 Value Footnotes    float64
 dtype: object)

Take a look at the last 10 rows of each DataFrame in turn.

In [7]:
rows = gdp_df.tail(10), internet_df.tail(10)

print(rows)

(     Country or Area                                      Year        Value  \
6860        Zimbabwe                                      1997  3580.048793
6861        Zimbabwe                                      1996  3520.430146
6862        Zimbabwe                                      1995  3226.413930
6863        Zimbabwe                                      1994  3263.934978
6864        Zimbabwe                                      1993  3033.504852
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6860              NaN
6861              NaN
6862              NaN
6863              NaN
6864              NaN
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN  ,      Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN)

Drop the value footnotes column from both DataFrames. Check that this worked as expected.

Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [13]:
gdp_df.rename(columns={'Country or Area':'Country'}, inplace=True)
gdp_df.rename(columns={'Value':'GDP_Per_Capita'}, inplace=True)

Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [20]:
gdp_and_internet_use = [gdp_df, internet_df]
  
result = pd.concat(frames)
display(result)

,Country,Year,GDP_Per_Capita,Value Footnotes,Country or Area,Value
0,Afghanistan,2019,2065.036398,NaN,NaN,NaN
1,Afghanistan,2018,2033.779002,NaN,NaN,NaN
2,Afghanistan,2017,2058.383832,NaN,NaN,NaN
3,Afghanistan,2016,2057.062164,NaN,NaN,NaN
4,Afghanistan,2015,2068.265904,NaN,NaN,NaN
...,...,...,...,...,...,...
4491,NaN,1996,NaN,NaN,Zimbabwe,0.016790
4492,NaN,1995,NaN,NaN,Zimbabwe,0.007684
4493,NaN,1994,NaN,NaN,Zimbabwe,0.001739
4494,NaN,1990,NaN,NaN,Zimbabwe,0.000000
4495,NaN,Footnote,NaN,NaN,footnoteSeqID,NaN

Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [22]:
gdp_and_internet_use = gdp_and_internet_use.head(5)

AttributeError: 'list' object has no attribute 'head'